
<!-------------------------------------------------------------------------->
<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
  <div class="container">
    <a class="navbar-brand fs-2" href="#">Gallery</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto me-auto  mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" [routerLink]="['/']" [routerLinkActive]="'text-danger'" [routerLinkActiveOptions]="{exact:true}" aria-current="page"  >HOME</a>
        </li>
        <li class="nav-item" *ngIf="admin">
          <a class="nav-link active" [routerLink]="['/dashboard']" [routerLinkActive]="'text-danger'" [routerLinkActiveOptions]="{exact:true}"   aria-current="page">DASHBOARD</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" [routerLink]="['/products']" [routerLinkActive]="'text-danger'" [routerLinkActiveOptions]="{exact:true}"   aria-current="page">PRODUCTS</a>
        </li>
      </ul>

    </div>
    <span>
      <ul class="navbar-nav list-group-horizontal  mt-2">
        <li class="nav-item cart me-3" [routerLink]="['/cart']" [routerLinkActive]="'text-danger'" [routerLinkActiveOptions]="{exact:true}">
          <a>
            <i class="bi bi-cart3 fs-5 "></i>
            <span class="position-absolute top-0 start-100  translate-middle badge rounded-pill text-bg-secondary bg-opacity-75" style="font-size: 10px;aspect-ratio: 1/1; ">
              {{cartNum}}
            </span>
          </a>
        </li>
        <li class="nav-item mt-1 me-3 " [routerLink]="['/wish']" [routerLinkActive]="'text-danger'" [routerLinkActiveOptions]="{exact:true}">
          <a><i class="bi bi-heart fs-5 "></i></a>
        </li>
        <li class="nav-item  me-3"[routerLink]="['/login']" [routerLinkActive]="'text-danger'" [routerLinkActiveOptions]="{exact:true}">
          <a><i class="bi bi-person fs-4  "></i></a>
          <span class="text-black ps-2 ">{{user.name}}</span>
        </li>
        <li class="nav-item mt-1 me-3 " [routerLink]="['/login']"  >
          <a><i class="bi bi-box-arrow-right fs-4" (click)="logout()"></i></a>
        </li>
      </ul>
    </span>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>
