<app-slider></app-slider>
<h1 class="text-center my-5">BEST CHOICE FOR YOU</h1>
<div class="w-100" >
  <div class="types row d-flex flex-row justify-content-around p-3">
    <div class="col-4 ">
      <img class="p-1 w-100" src="../../../assets/images/choice1.png" alt="">
      <h4 class="text-center text-secondary">For Living Room</h4>
    </div>
    <div class="col-4 ">
      <img class="p-1 w-100" src="../../../assets/images/choice2.png" alt="">
      <h4 class="text-center text-secondary">For Out Door & Gardern</h4>
    </div>
    <div class="col-4 ">
      <img class=" w-100 pt-1" src="../../../assets/images/choice3.png" alt="">
      <h4 class="text-center text-secondary mt-4">For Rest Place</h4>
    </div>
  </div>
</div>

<h1 class="text-center my-5">OUR NEW COLLECTION</h1>

<div class="row d-flex flex-row justify-content-around mt-5">
  <div class="col-5">
    <img src="../../../assets/images/discout1.jpg" alt="..." srcset="">
  </div>
  <div class="col-5">
    <img src="../../../assets/images/discout2.jpg" alt="..." srcset="">
  </div>
</div>

<div class="review">
  <h1 class="text-center my-5">WHAT’S CLIENTS SAY</h1>
  <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active row d-flex flex-row justify-content-around ">
        <div class=" col-3">
          <img class="d-flex flex-column align-content-center justify-content-center" src="../../../assets/images/client1.png" alt="">
        </div>
        <div class=" col-9">
          <p>
            “I worry about ordering online but the returns policy is great if you are not happy. And we were very happy. Bed is really well made, solid but easy to construct. Brosa was easy to deal with and bed arrived quickly. Very happy.Ltempus lestie condimentum .”
          </p>
          <p>Darrel Austin</p>
          <p>Themevolty</p>
        </div>

      </div>
      <div class="carousel-item accordion row d-flex flex-row justify-content-around">
        <div class=" col-3">
          <img class="d-flex flex-column align-content-center justify-content-center"  src="../../../assets/images/client3.png" alt="">
        </div>
        <div class=" col-9">
          <p>
            “I worry about ordering online but the returns policy is great if you are not happy. And we were very happy. Bed is really well made, solid but easy to construct. Brosa was easy to deal with and bed arrived quickly. Very happy.Ltempus lestie condimentum .”
          </p>
          <p>Darrel Austin</p>
          <p>Themevolty</p>
        </div>
      </div>
      <div class="carousel-item row d-flex flex-row justify-content-around">
        <div class=" col-3">
          <img class="d-flex flex-column align-content-center justify-content-center"  src="../../../assets/images/client2.png" alt="">
        </div>
        <div class=" col-9">
          <p>
            “I worry about ordering online but the returns policy is great if you are not happy. And we were very happy. Bed is really well made, solid but easy to construct. Brosa was easy to deal with and bed arrived quickly. Very happy.Ltempus lestie condimentum .”
          </p>
          <p>Darrel Austin</p>
          <p>Themevolty</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>



