.row{
  max-width: 100%;
}
/* .types img{
  max-width: 400px;
} */

.review{
  background-image: url("../../../assets/images/reviewBg2.jpg");

  background-position: center;
  background-repeat:no-repeat;
  background-size: cover;


}
.revImg{
  border-color: rgb(157,163,117);
}
.head{
  color: rgb(94, 57, 42);
  font-weight: bolder;
}

/* .someObj {
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(myBgImage.png);
} */
