<app-slider></app-slider>
<h1 class="text-center my-5">BEST CHOICE FOR YOU</h1>
<div class="w-100" >
  <div class="types row d-flex flex-row justify-content-around p-3">
    <div class="col-4 ">
      <img class="p-1 w-100" src="../../../assets/images/choice1.png" alt="">
      <h4 class="text-center">For Living Room</h4>
    </div>
    <div class="col-4 ">
      <img class="p-1 w-100" src="../../../assets/images/choice2.png" alt="">
      <h4 class="text-center">For Out Door & Gardern</h4>
    </div>
    <div class="col-4 ">
      <img class=" w-100 pt-1" src="../../../assets/images/choice3.png" alt="">
      <h4 class="text-center mt-4">For Rest Place</h4>
    </div>
  </div>
</div>

